<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/mdl")

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class=".demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout--large-screen-only mdl-layout__header-row ">
                <h3>Language Garden</h3>
            </div>
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
                <a href="@Url.Action("Index")" class="mdl-layout__tab">O nas</a>
                <a href="@Url.Action("Offer")" class="mdl-layout__tab">Oferta</a>
                <a href="@Url.Action("PriceList")" class="mdl-layout__tab">Cennik</a>
                <a href="@Url.Action("Contact")" class="mdl-layout__tab">Kontakt</a>                
            </div>
        </header>
        <main class="mdl-layout__content">
            @RenderBody()
        </main>
    </div>

    @Scripts.Render("~/bundles/google-maps")
    @Scripts.Render("~/bundles/EventListeners")
    @RenderSection("scripts", required: false)

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS9EtyHVGuBMfo15ofBmgNCSIWpnkvi_U&callback=initMap">
    </script>

</body>
</html>

