@model EnglishSchool.Models.Email

@{
    ViewBag.Title = "Contact";
}
<section class="mdl-grid section--center">
    <h2 class="mdl-cell mdl-cell--12-col">Kontakt</h2><br />
    <h3 class="mdl-cell mdl-cell--12-col">Skontaktuj się z nami</h3>
</section>
<section class="mdl-grid section--center">
    <div class="mdl-cell mdl-cell--4-col">

        <div class="mdl-card mdl-shadow--4dp">
            <div class="mdl-card__media">
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text"><i class="fa fa-address-card-o" aria-hidden="true"></i> &nbsp;Address:</h4>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                    <ul class="mdl-list">
                        <li class="mdl-list__item">&nbsp;Kozanowska 89/15</li>
                        <li class="mdl-list__item">&nbsp;54-152 Wrocław</li>
                        <li class="mdl-list__item">&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>:&nbsp; +48 695366430</li>
                        <li class="mdl-list__item">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
                            <strong>Support:</strong>&nbsp;<a href="mailto:Support@example.com">Support@example.com</a>
                        </li>
                        <li class="mdl-list__item">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
                            <strong>Marketing:</strong>&nbsp;<a href="mailto:Marketing@example.com">Marketing@example.com</a>
                        </li>
                    </ul>
            </div>
        </div>

        <br />

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div class="mdl-card mdl-shadow--4dp">
                <div class="mdl-card__media">
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text"><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;Zapisz się</h4>
                    </div>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label contact-text">
                        @Html.TextBoxFor(m => m.FromName, new { @class = "mdl-textfield__input contact-text" })
                        @Html.LabelFor(m => m.FromName, new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(m => m.FromName)
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  contact-text">
                        @Html.TextBoxFor(m => m.FromEmail, new { @class = "mdl-textfield__input contact-text" })
                        @Html.LabelFor(m => m.FromEmail, new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(m => m.FromEmail)
                    </div>
                    <div class="mdl-textfield mdl-js-textfield contact-text">
                        @Html.TextAreaFor(m => m.Message, new { @class = "mdl-textfield__input contact-text", @rows = "8", @maxrows = "12", @type = "text" })
                        @Html.LabelFor(m => m.Message, new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(m => m.Message)
                    </div>
                </div>
                <div class="form-group">
                    <div class="mdl-card__actions mdl-card--border">
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            <span class="fa fa-share"></span>
                            Wyślij
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <div class="mdl-card mdl-shadow--4dp">
            <div class="mdl-card__media">
                <div class="mdl-card__title">                    
                    <h4 class="mdl-card__title-text"><i class="fa fa-map" aria-hidden="true"></i> &nbsp;Mapa dojazdu</h4>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>


